.container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.flex-direction {
    flex-direction: row;
}
.div1 {
    width: 314px;
    height: 132px;
    margin: 10px;
}

.div2 {
    width: 314px;
    height: 132px;
    margin: 10px;
}

.task {
    width: 314px;
    height: 132px;
    margin: 10px;
}

.taskContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.searchDisplay {
    display: flex;
}
.search {
    background: #d9dfeb 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}
.searchDiv {
    margin-right: 10px;
}
.taskListCont {
    margin-left: 30%;
    flex-direction: column;
    width: 42%;
    display: inline-flex;
    justify-content: center;
}
.taskCont {
    width: 314px;
    height: 132px;
    margin: 10px;
}
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #5285EC;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.noTask {
     height: 134px;
    padding: 20px;
    width: 314px;
}


@media screen and (max-width: 500px) {
    .flex-direction {
        width: 100%;
        flex-direction: column;
    }
    .div1 {
        width: auto;
        height: 131px;
        margin: 10px;
    }
    .div2 {
        width: auto;
        height: 131px;
        margin: 10px;
    }
    .task {
        align-self: center;
        width: auto;
        height: auto;
    }
    .searchDisplay {
        display: block;
    }
    .searchDiv {
        margin-bottom: 10px;
    }
    .taskListCont {
        margin-left: 0%;
    flex-direction: column;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.taskCont {
    width: auto;
        height: auto;
        margin: 10px;
}
.noTask {
     height: auto;
    padding: 20px;
    width: auto;
}
}
